<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Visual Private Key</span>
  <p> This is a tool to help visualize a private key on a 16x16 grid</p>
</div>

<div class="content">
  <div class="canvas-container">
    <canvas id="canvas"></canvas>
  </div>
  <div class="buttonContainer">
    <button id="clear" class="button">Clear</button>
    <button id="generate" class="button">Generate</button>
    <button id="inverse" class="button">Inverse</button>
    <!-- button id="rotate" class="button">Rotate</button> -->
  </div>
  <br>
  <div class="rawHexContainer">
    <aside> Private Key in Hex (64 digits): </aside>
    <textarea id="hexTextBox" rows="1" cols="64"></textarea>
  </div>
  <div class="GeneratedDataContainer">

  </div>

</div>


<router-outlet></router-outlet>